@model cinemaos3.Models.Film

<p class="TitelFilm">@Model.name</p>
<p class="DescriptionFilm">@Model.description</p>
<img class='avatar' src="@Model.poster" />
<p class="CastFilm">@Model.cast</pclass>
<p class="AgeFilm">@Model.age</p>
