@model cinemaos3.Models.Film

<p class="TitelFilm">@Model.name</p>
<img class='PosterFilm' src="@Model.poster" />
<p class="DescriptionFilm">@Model.description</p>
<p class="CastFilm">@Model.cast</p>
<img class='AgeFilm' src="@Model.age" />

